<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers Devour</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Slackey" rel="stylesheet" />
    <style>
        html {
            font-size: 62.5%;
        }

        body {
            font-family: "Slackey", cursive;
        }

        .container-fluid {
            height: 100vh;
            background: linear-gradient(to bottom,
                #3b679e 0%,
                #2b88d9 50%,
                #207cca 51%,
                #7db9e8 100%);

        }

        @media only screen and (max-width: 1281px) {
            body {
                font-size: 3rem;
            }
        }
    </style>
</head>

<body>
    {{{body}}}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>